<h1>Goku</h1>
<div>
  <h2>Estas son las técnicas de Goku</h2>
  <ul>
    <li *ngFor="let technique of techniques">
      {{ technique.name }} - Daño: {{ technique.damage }}, Dificultad:
      {{ technique.complexity }}
    </li>
  </ul>
</div>
<app-gohan
  [techniques]="techniques"
  (learnTechniqueFromGoku)="learnTechniqueFromGoku($event)"
></app-gohan>

<h3>Técnicas aprendidas por Gohan</h3>
<ul>
  <li *ngFor="let technique of techniquesGohan">
    {{ technique.name }} - Daño: {{ technique.damage }}, Dificultad:
    {{ technique.complexity }}
  </li>
</ul>

<app-videl
[techniques]="techniques"
(learnTechniqueFromGoku)="learnTechniqueFromGoku($event)"></app-videl>

<h3>Técnicas aprendidas por Videl</h3>
<li *ngFor="let technique of techniquesVidel">
  {{ technique.name }} - Daño: {{ technique.damage }}, Dificultad:
  {{ technique.complexity }}
</li>
